.placeholder {
  background-color: #e0e0e0;
  border-radius: 0.25rem;
  display: inline-block;
}

.brand-placeholder {
  width: 100px;
  height: 30px;
}

.navbar-toggler-placeholder {
  width: 30px;
  height: 30px;
  margin-left: auto;
}

.nav-link-placeholder {
  width: 70px;
  height: 20px;
  margin: 0 10px;
}

@keyframes shimmer {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.shimmer {
  animation: shimmer 1.5s infinite;
}
