.postContent {
    width: 100%;
    padding: 1rem 0;

    .bodyContentText {
        margin-bottom: 10px;
        color: var(--text-primary);
    }

    .bodyContentImage {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
         cursor: pointer;
    }

    .carouselItem {
        position: relative;
        width: 100%;
        padding-bottom: 125%; 
        height: 0; 
        overflow: hidden;
        background-color: black; 
    }
}
