.postReactionsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    

    &:hover {
        cursor: pointer;
    }

    .reactions {
        // flex-grow: 1;
        color: var(--text-secondary);

        
    }

    .bookmark {
        // flex-grow: 1;
        color: var(--text-secondary);
    }

    .icon {
        font-size: 1.8rem;
        margin-right: 12px;
        &:last-child {
            margin-right: 0;
        }
    }
}