html {
  scroll-behavior: smooth;
}

:root {
  --primary-main: #6a7cf6;
  --primary-contrastText: #ffffff;
  --secondary-main: #eb5153;
  --secondary-contrastText: #ffffff;
  --background-default: #ffffff;
  --background-paper: #f6f8fa;
  --text-primary: #222566;
  --text-secondary: #222566;
  --text-disabled: rgba(34, 37, 102, 0.38);
  --error-main: #eb5153;
  --success-main: #4caf50;
  --info-main: #2196f3;
  --warning-main: #ff9800;
  --divider: rgba(0, 0, 0, 0.38);
  --text: rgba(0, 0, 0, 0.38);


}

[data-theme="dark"] {
  --primary-main: #4effca;
  --primary-contrastText: rgba(51, 43, 43, 0.87);
  --secondary-main: #1abc9c;
  --background-default: #121212;
  --background-paper: #1e1e1e;
  --text-primary: #e0e0e0;
  --text-secondary: #e0e0e0;
  --success-main: #27ae60;
  --error-main: #e74c3c;
  --info-main: #3498db;
  --warning-main: #f39c12;
  --divider: rgba(255, 255, 255, 0.38);
  --text: #e0e0e0;
}

.bg-gradient {
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
}
